style.
    .container {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    .ui.list > .item > .ui.secondary.segment {
        margin-left: 1em;
    }

    .ui.accordion .active.content {
        background-color: #EEE;
    }

    .ui.accordion .active.title {
        background-color: #DDD !important;
    }