
style.
    @font-face {
        font-family: 'Icons';
        src: url(https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.1/themes/basic/assets/fonts/icons.woff);
    }
    .container {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    .ui.list > .item > .ui.secondary.segment {
        margin-left: 1em;
    }

    .ui.accordion .active.content {
        background-color: #EEE;
    }

    .ui.accordion .active.title {
        background-color: #DDD !important;
    }

    .ui.list>.item{
        padding: 0;
        line-height: 0.8;
    }

    .segment > pre{
        padding: 2px;
        margin: 0px;
        font-size: 0.9em;
        -webkit-font-smoothing: antialiased;
    }