include ./includes/mixins

doctype html
html
    head
        title Test Report
        //link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.0/semantic.min.css')
        //script(src='https://code.jquery.com/jquery-2.1.3.min.js')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.0/semantic.min.js')

        include ./includes/semantic.css.jade
        include ./includes/styles

        include ./includes/semantic.js
    body
        div.container
            each browser,browserName in data
                br
                +browserBlock(browserName,browser)

    include ./includes/scripts
